
html{
	font-family: "JetBrains Mono", monospace;
}
body {
	background-color: black;
	color: white;
	text-align: center;
}

hr {
	color: white;
	background-color: white;
	width: 50%;
	height: 2px;
}

button {
	border: 2px solid white;
	border-radius: 8px;
	font-family: "JetBrains Mono", monospace;
	transition: transform 0.3s ease;
	background-color: #28282B;
	color: white;
}

button:hover {
	cursor: pointer;
	transform: translateY(-5px);
}

#team-sections {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20px;
}
#container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2%;
	gap: 5px;
}

.story-card {
	max-width: 1400px;
	background: rgba(15, 15, 15, 0.85);
	color: white;
	padding: 2%;
	margin-top: 5%;
	border-radius: 12px;
	box-shadow: 0 8px 25px rgba(200, 200, 200, .4);
	line-height: 1.6;
	transition: transform 0.3s ease;
}

.team-info {
	display: flex;
	width: 100%;
	height: 200px;
	justify-content: space-between;
	gap: 5%;
	flex-direction: row;
}

.video {
	position: relative;
	padding-bottom: 55%;
	height: 0%;
}

.mvp {
	display: flex;
	align-items: left;
	gap: 20px;
}

.mvp-text {
	gap: 5px;
	padding: 0px;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.mvp-text h3 {
	font-size: 20px !important;
}
.pfp {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius:50%;
	border: 2px solid white;
}

.pfp img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
}

.team-info > div {
	flex: 1;
	background-color: black;
	padding: 10px;
	border: 1px solid white;
	border-radius: 8px;
}
.story-card:hover {
	transform: translateY(-5px);
}

.story-card h3 {
	margin-bottom: 10px;
	font-size: 22px;
}

.story-card p {
	font-size: 15px;
	opacity: 0.9;
}
