
html{
	font-family: "JetBrains Mono", monospace;
}
body {
	background-color: black;
	color: white;
	text-align: center;
}

hr {
	color: white;
	background-color: white;
	width: 50%;
	height: 2px;
}

button {
	border: 2px solid white;
	border-radius: 8px;
	font-family: "JetBrains Mono", monospace;
	transition: transform 0.3s ease;
	background-color: #28282B;
	color: white;
}

button:hover {
	cursor: pointer;
	transform: translateY(-5px);
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2%;
	gap: 5px;
}

.vis {
	border: 4px solid black;
	border-radius: 8px;
	box-shadow: 6px 6px 6px white;
	transition: transform 0.3s ease;
}

.vis:hover {
	transform: translateY(-5px);
}
